@import 'variable';


@mixin arrowUp {
  height: 3rem;
  width: 3rem;
  background-color: $background-color;
  border-radius: .3rem;
  rotate: 45deg;
  position: absolute;
  top: -.2rem;
  right: 2rem;
}


.header {
  height: 12rem;
  background-image: linear-gradient(-180deg, #f53d2d, #f63);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  .navbar {
    height: 3.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;

    .navbar-icon {
      display: inline-block;
      padding-inline: .2rem;
    }

    .navbar-list {
      list-style: none;
      padding: 0;
      margin-inline: -.8rem;

      a {
        text-decoration: none;
        color: $white-color;

        &:hover {
          opacity: .75;
        }
      }

      .navbar-item {
        display: inline-block;
        color: $white-color;
        padding: .8rem;
        position: relative;


        // QrCode
        &:hover .sub-navbar {
          display: block;
        }

        .sub-navbar {
          display: none;
          background-color: $white-color;
          width: 19rem;
          position: absolute;
          z-index: 99;
          top: 110%;
          right: -60%;
          animation: brightenOut1 .15s ease;
          will-change: transform;
          transform-origin: 50% 0;
          border-radius: .4rem;
          box-shadow: 0 0 1rem rgba($color: $black-color, $alpha: .2);
          padding: .5rem .6rem;

          &::after {
            content: "";
            height: 50px;
            background-color: transparent;
            z-index: -99;
            position: absolute;
            top: -.4rem;
            left: 0;
            right: 0;
          }

          .header__qr-code {
            width: 100%;
          }

          .download {
            display: flex;
            justify-content: flex-start;
            padding-bottom: .6rem;

            .header__store-download {
              width: 100%;
              height: 1.6rem;
              object-fit: contain;

            }
          }
        }

        // Notification
        &:hover .header-notify {
          display: block;
        }

        .header-notify {
          display: none;
          position: absolute;
          background-color: $background-color;
          top: 0;
          right: 0;
          width: 40rem;
          top: 3.5rem;
          border-radius: .3rem;
          box-shadow: 0 0 1.8rem rgba($color: $black-color, $alpha: .2);
          animation: brightenOut2 .25s ease;
          will-change: opacity, transform;
          transform-origin: 36.6rem 0;
          z-index: 99;

          &::after {
            content: "";
            @include arrowUp;
            // z-index: -1;
          }

          &::before {
            content: "";
            position: absolute;
            top: -1rem;
            right: 0;
            left: 0;
            height: 1rem;
            background-color: transparent;
          }

          .notify-header {
            color: #999;
            padding: 1.4rem 0;
            padding-inline: 1.6rem;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
          }

          .notify-body {
            .notify-list {
              padding: 0;
              list-style: none;

              .notify-item a {
                padding: .6rem 1.6rem;
                margin-bottom: .6rem;

                &:hover {
                  opacity: 1;
                  background-color: #d0d0d0;
                }

                display: flex;
                align-items: flex-start;

                .notify-brand {
                  .brand-img {
                    width: 100%;
                    height: 4rem;
                    border-radius: .2rem;
                    object-fit: cover;
                  }
                }

                .notify-content {
                  margin-left: 1rem;

                  .notify-heading {
                    color: #696969;
                    margin: 0;
                    font-size: 1.4rem;
                    font-weight: 500;
                  }

                  .notify-desc {
                    color: #727272;
                    margin: .8rem 0;
                    font-size: 1.3rem;
                  }
                }
              }
            }
          }

          .notify-footer {
            padding: .8rem 0;
            border: none;
            width: 100%;
            cursor: pointer;
          }
        }

        // Language selection
        &:hover .language-selection {
          display: flex;
          flex-direction: column;
        }

        .language-selection {
          display: none;
          position: absolute;
          top: 3.5rem;
          right: 0;
          background-color: $background-color;
          padding: 1.2rem 1.2rem;
          font-size: 1.4rem;
          width: 16rem;
          border-radius: .3rem;
          flex-direction: column;
          box-shadow: 0 0 1.8rem rgba($color: $black-color, $alpha: .2);
          animation: brightenOut2 .15s ease;
          will-change: opacity, transform;
          transform-origin: 15rem -.8rem;
          z-index: 99;

          &::after {
            content: "";
            @include arrowUp;
            z-index: -1;
          }

          &::before {
            content: "";
            position: absolute;
            top: -1rem;
            right: 0;
            left: 0;
            height: 1rem;
            background-color: transparent;
          }

          .language-item {
            color: #1e1e1e;
            display: inline-block;

            &:hover {
              color: #ff3b29;
            }
          }

          .language-item+.language-item {
            margin-top: 1.8rem;
          }
        }

        // User menu
        &:hover .user-menu {
          display: block;
        }

        .user-menu {
          display: none;
          position: absolute;
          top: 100%;
          right: 0;
          width: 15rem;
          background-color: $background-color;
          border-radius: .3rem;
          transform-origin: 11.5rem -.8rem;
          animation: brightenOut2 .15s ease;
          will-change: opacity, transform;
          z-index: 99;

          &::after {
            content: "";
            @include arrowUp;
            z-index: -1;
          }

          &::before {
            content: "";
            position: absolute;
            top: -1rem;
            right: 0;
            left: 0;
            height: 1rem;
            background-color: transparent;
          }

          ul {
            list-style: none;
            padding: 0;

            li a {
              display: block;
              color: #212121;
              padding: 1rem 1.4rem;
              font-size: 1.5rem;

              &:hover {
                color: #00bfa5;
                background-color: #fafafa;
              }
            }
          }
        }
      }
    }
  }

  .header-search {
    height: 8.6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1.6rem;

    .logo-section {
      width: 20rem;

      // margin: auto 0;
      .icon-shopee-logo {
        fill: $white-color;
        height: 5rem;
      }
    }

    .search-section {
      flex: 1;
      position: relative;
      height: 100%;

      .search-form {
        position: relative;

        // height: 100%;
        .form-control {
          box-sizing: border-box;
          width: 100%;
          padding: 1.2rem 1.4rem;
          outline: none;
          border: none;
          border-radius: .3rem;
          font-size: 1.4rem;
          color: #757575;

        }

        .search-submit-btn {
          position: absolute;
          padding: 1rem 2rem;
          border: none;
          background-color: #fb5533;
          color: $white-color;
          font-size: 1.4rem;
          border-radius: .2rem;
          top: .2rem;
          right: .2rem;

          &:hover {
            opacity: .9;
            cursor: pointer;
          }
        }

        .search-suggestion {
          display: none;
          padding: 0;
          margin: 0;
          z-index: 50;
          list-style: none;
          color: #202020;
          background-color: $white-color;
          width: 100%;
          position: absolute;
          top: 115%;
          border-radius: .3rem;
          overflow: hidden;


          .search-suggestion-item {
            font-size: 1.4rem;
            padding: 1rem 1.5rem;

            &:hover {
              background-color: #f0f0f0;
              cursor: pointer;
            }
          }
        }

        // &:hover .search-suggestion {
        //   display: block;
        // }
      }

      .suggestion {
        list-style: none;
        display: flex;
        align-items: center;
        padding: 0;
        margin: auto 0;
        height: 3rem;

        .suggestion-item {
          font-size: 1.2rem;
          color: $white-color;
          font-weight: 400;
          opacity: .95;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .suggestion-item+.suggestion-item {
          padding-left: 1.4rem;
        }
      }


    }

    .cart-section {
      width: 16rem;
      margin-top: -1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      margin-left: 1rem;

      .icon-cart {
        fill: $white-color;
        height: 2.6rem;
        position: relative;
      }

      .cart-quantity {
        display: inline-block;
        padding-inline: .4rem;
        border-radius: .8rem;
        font-size: 1.4rem;
        color: #f53d2d;
        background-color: $white-color;
        position: absolute;
        top: 25%;
        right: 33%;

      }

    }
  }
}


@keyframes brightenOut1 {
  0% {
    // opacity: 0;
    transform: scale(0);
  }

  100% {
    // opacity: 1;
    transform: scale(1);
  }
}

@keyframes brightenOut2 {
  0% {
    opacity: .3;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.separator {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 1.6rem;
    width: .1rem;
    right: -.2rem;
    background-color: $white-color;
    opacity: .5;
    border-radius: .05rem;
  }
}