@import 'common';
@import 'header';
@import 'banner';
@import 'category';
@import 'sale';
@import 'footer';

.container {
  margin-top: $header-height;
  background-color: #f5f5f5;
  min-height: 200vh;
}
