@charset "UTF-8";
.header {
  height: 12rem;
  background-image: linear-gradient(-180deg, #f53d2d, #f63);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.header .navbar {
  height: 3.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}
.header .navbar .navbar-icon {
  display: inline-block;
  padding-inline: 0.2rem;
}
.header .navbar .navbar-list {
  list-style: none;
  padding: 0;
  margin-inline: -0.8rem;
}
.header .navbar .navbar-list a {
  text-decoration: none;
  color: #ffffff;
}
.header .navbar .navbar-list a:hover {
  opacity: 0.75;
}
.header .navbar .navbar-list .navbar-item {
  display: inline-block;
  color: #ffffff;
  padding: 0.8rem;
  position: relative;
}
.header .navbar .navbar-list .navbar-item:hover .sub-navbar {
  display: block;
}
.header .navbar .navbar-list .navbar-item .sub-navbar {
  display: none;
  background-color: #ffffff;
  width: 19rem;
  position: absolute;
  z-index: 99;
  top: 110%;
  right: -60%;
  animation: brightenOut1 0.15s ease;
  will-change: transform;
  transform-origin: 50% 0;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.6rem;
}
.header .navbar .navbar-list .navbar-item .sub-navbar::after {
  content: "";
  height: 50px;
  background-color: transparent;
  z-index: -99;
  position: absolute;
  top: -0.4rem;
  left: 0;
  right: 0;
}
.header .navbar .navbar-list .navbar-item .sub-navbar .header__qr-code {
  width: 100%;
}
.header .navbar .navbar-list .navbar-item .sub-navbar .download {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.6rem;
}
.header .navbar .navbar-list .navbar-item .sub-navbar .download .header__store-download {
  width: 100%;
  height: 1.6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header .navbar .navbar-list .navbar-item:hover .header-notify {
  display: block;
}
.header .navbar .navbar-list .navbar-item .header-notify {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  top: 0;
  right: 0;
  width: 40rem;
  top: 3.5rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.2);
  animation: brightenOut2 0.2s ease;
  will-change: opacity, transform;
  transform-origin: 36.6rem 0;
  z-index: 99;
}
.header .navbar .navbar-list .navbar-item .header-notify::after {
  content: "";
  height: 3rem;
  width: 3rem;
  background-color: #f8f8f8;
  border-radius: 0.3rem;
  rotate: 45deg;
  position: absolute;
  top: -0.2rem;
  right: 2rem;
}
.header .navbar .navbar-list .navbar-item .header-notify::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
  height: 1rem;
  background-color: transparent;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-header {
  color: #999;
  padding: 1.4rem 0;
  padding-inline: 1.6rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-body .notify-list {
  padding: 0;
  list-style: none;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-body .notify-list .notify-item a {
  padding: 0.6rem 1.6rem;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: flex-start;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-body .notify-list .notify-item a:hover {
  opacity: 1;
  background-color: #d0d0d0;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-body .notify-list .notify-item a .notify-brand .brand-img {
  width: 100%;
  height: 4rem;
  border-radius: 0.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-body .notify-list .notify-item a .notify-content {
  margin-left: 1rem;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-body .notify-list .notify-item a .notify-content .notify-heading {
  color: #696969;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-body .notify-list .notify-item a .notify-content .notify-desc {
  color: #727272;
  margin: 0.8rem 0;
  font-size: 1.3rem;
}
.header .navbar .navbar-list .navbar-item .header-notify .notify-footer {
  padding: 0.8rem 0;
  border: none;
  width: 100%;
  cursor: pointer;
}
.header .navbar .navbar-list .navbar-item:hover .language-selection {
  display: flex;
  flex-direction: column;
}
.header .navbar .navbar-list .navbar-item .language-selection {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 0;
  background-color: #f8f8f8;
  padding: 1.2rem 1.2rem;
  font-size: 1.4rem;
  width: 16rem;
  border-radius: 0.3rem;
  flex-direction: column;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.2);
  animation: brightenOut2 0.15s ease;
  will-change: opacity, transform;
  transform-origin: 15rem -0.8rem;
  z-index: 99;
}
.header .navbar .navbar-list .navbar-item .language-selection::after {
  content: "";
  height: 3rem;
  width: 3rem;
  background-color: #f8f8f8;
  border-radius: 0.3rem;
  rotate: 45deg;
  position: absolute;
  top: -0.2rem;
  right: 2rem;
  z-index: -1;
}
.header .navbar .navbar-list .navbar-item .language-selection::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
  height: 1rem;
  background-color: transparent;
}
.header .navbar .navbar-list .navbar-item .language-selection .language-item {
  color: #1e1e1e;
  display: inline-block;
}
.header .navbar .navbar-list .navbar-item .language-selection .language-item:hover {
  color: #ff3b29;
}
.header .navbar .navbar-list .navbar-item .language-selection .language-item + .language-item {
  margin-top: 1.8rem;
}
.header .navbar .navbar-list .navbar-item:hover .user-menu {
  display: block;
}
.header .navbar .navbar-list .navbar-item .user-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 15rem;
  background-color: #f8f8f8;
  border-radius: 0.3rem;
  transform-origin: 11.5rem -0.8rem;
  animation: brightenOut2 0.15s ease;
  will-change: opacity, transform;
  z-index: 99;
}
.header .navbar .navbar-list .navbar-item .user-menu::after {
  content: "";
  height: 3rem;
  width: 3rem;
  background-color: #f8f8f8;
  border-radius: 0.3rem;
  rotate: 45deg;
  position: absolute;
  top: -0.2rem;
  right: 2rem;
  z-index: -1;
}
.header .navbar .navbar-list .navbar-item .user-menu::before {
  content: "";
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
  height: 1rem;
  background-color: transparent;
}
.header .navbar .navbar-list .navbar-item .user-menu ul {
  list-style: none;
  padding: 0;
}
.header .navbar .navbar-list .navbar-item .user-menu ul li a {
  display: block;
  color: #212121;
  padding: 1rem 1.4rem;
  font-size: 1.5rem;
}
.header .navbar .navbar-list .navbar-item .user-menu ul li a:hover {
  color: #00bfa5;
  background-color: #fafafa;
}
.header .header-search {
  height: 8.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.6rem;
}
.header .header-search .logo-section {
  width: 20rem;
}
.header .header-search .logo-section .icon-shopee-logo {
  fill: #ffffff;
  height: 5rem;
}
.header .header-search .search-section {
  flex: 1;
  position: relative;
  height: 100%;
}
.header .header-search .search-section .search-form {
  position: relative;
}
.header .header-search .search-section .search-form .form-control {
  box-sizing: border-box;
  width: 100%;
  padding: 1.2rem 1.4rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  color: #757575;
}
.header .header-search .search-section .search-form .search-submit-btn {
  position: absolute;
  padding: 1rem 2rem;
  border: none;
  background-color: #fb5533;
  color: #ffffff;
  font-size: 1.4rem;
  border-radius: 0.2rem;
  top: 0.2rem;
  right: 0.2rem;
}
.header .header-search .search-section .search-form .search-submit-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.header .header-search .search-section .search-form .search-suggestion {
  display: none;
  padding: 0;
  margin: 0;
  z-index: 50;
  list-style: none;
  color: #202020;
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  top: 115%;
  border-radius: 0.3rem;
  overflow: hidden;
}
.header .header-search .search-section .search-form .search-suggestion .search-suggestion-item {
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
}
.header .header-search .search-section .search-form .search-suggestion .search-suggestion-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.header .header-search .search-section .suggestion {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: auto 0;
  height: 3rem;
}
.header .header-search .search-section .suggestion .suggestion-item {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 400;
  opacity: 0.95;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}
.header .header-search .search-section .suggestion .suggestion-item + .suggestion-item {
  padding-left: 1.4rem;
}
.header .header-search .cart-section {
  width: 16rem;
  margin-top: -1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  margin-left: 1rem;
}
.header .header-search .cart-section .icon-cart {
  fill: #ffffff;
  height: 2.6rem;
  position: relative;
  cursor: pointer;
}
.header .header-search .cart-section .cart-quantity {
  display: inline-block;
  padding-inline: 0.4rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  color: #f53d2d;
  background-color: #ffffff;
  position: absolute;
  top: 25%;
  right: 33%;
  cursor: pointer;
}

@keyframes brightenOut1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes brightenOut2 {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.separator {
  position: relative;
}
.separator::after {
  content: "";
  position: absolute;
  height: 1.6rem;
  width: 0.1rem;
  right: -0.2rem;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 0.05rem;
}

.banner-section {
  padding-top: 3rem;
  background-color: #ffffff;
}
.banner-section .home-banner {
  display: flex;
  height: 23.5rem;
}
.banner-section .home-banner .slider + .banner-right {
  padding-left: 0.5rem;
}
.banner-section .home-banner .slider {
  flex: 2;
  overflow: hidden;
  border-radius: 0.3rem;
  position: relative;
  cursor: pointer;
}
.banner-section .home-banner .slider:hover .slider-arrow {
  opacity: 0.8;
}
.banner-section .home-banner .slider .slider-arrow {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 2.4rem;
  padding: 1.2rem 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  transition: 0.2s;
  will-change: opacity;
}
.banner-section .home-banner .slider .slider-arrow:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner-section .home-banner .slider .slider-prev {
  left: 0;
  border-radius: 0 0.4rem 0.4rem 0;
}
.banner-section .home-banner .slider .slider-next {
  right: 0;
  border-radius: 0.4rem 0 0 0.4rem;
}
.banner-section .home-banner .slider .slick-dots {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex !important;
  gap: 0 1rem;
  cursor: default;
  margin-bottom: 1.5rem;
}
.banner-section .home-banner .slider .slick-dots .slick-active button {
  background-color: #ee4d2d;
}
.banner-section .home-banner .slider .slick-dots button {
  font-size: 0;
  padding: 0.35rem;
  border-radius: 50%;
  border: 0.05rem solid hsla(0deg, 0%, 53.7%, 0.4);
  cursor: pointer;
  background-color: hsla(0deg, 0%, 100%, 0.4);
}
.banner-section .home-banner .slider .slider-item {
  width: 100%;
  height: 100%;
}
.banner-section .home-banner .slider .slider-item .slider-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-section .home-banner .slider .slick-pre {
  position: absolute;
}
.banner-section .home-banner .banner-right {
  flex: 1;
}
.banner-section .home-banner .banner-right ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.banner-section .home-banner .banner-right ul .banner-right-item + .banner-right-item {
  margin-top: 0.5rem;
}
.banner-section .home-banner .banner-right ul .banner-right-item {
  flex: 1;
  overflow: hidden;
  border-radius: 0.3rem;
}
.banner-section .home-banner .banner-right ul .banner-right-item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.banner-section .promo-list {
  height: 11.5rem;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 1rem 0 0;
}
.banner-section .promo-list .promo-item {
  width: 11rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  transition: all 0.03s ease;
  will-change: transform;
}
.banner-section .promo-list .promo-item:hover {
  transform: translateY(-0.2rem);
}
.banner-section .promo-list .promo-item a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.banner-section .promo-list .promo-item a img {
  width: 4.5rem;
  margin: 1.5rem auto;
}
.banner-section .promo-list .promo-item a p {
  text-transform: capitalize;
  padding: 0 0 0.8rem;
  margin: 0;
  color: #333333;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.3rem;
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;
  inline-size: 11rem;
}

.category-section {
  margin-top: 2rem;
}
.category-section .category-header {
  background-color: #ffffff;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  padding-left: 2rem;
  height: 6rem;
  line-height: 6rem;
}
.category-section .category-content {
  position: relative;
}
.category-section .category-content:hover .category-btn {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
}
.category-section .category-content .category-btn {
  position: absolute;
  top: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.2s ease;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.category-section .category-content .category-prev-btn {
  left: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.category-section .category-content .category-next-btn {
  right: 0;
  transform: translate(50%, -50%);
}
.category-section .category-content .category-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  transition: all 3s ease;
  scroll-behavior: smooth;
  overflow: hidden;
}
.category-section .category-content .category-list .category-item {
  width: 12rem;
}
.category-section .category-content .category-list .category-item .category-group {
  width: 12rem;
}
.category-section .category-content .category-list .category-item .category-group .category-group-item {
  height: 15rem;
  width: 100%;
  background-color: #ffffff;
  border-right: 0.1rem solid #f5f5f5;
  border-top: 0.1rem solid #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.category-section .category-content .category-list .category-item .category-group .category-group-item .category-img {
  width: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2.6rem;
}
.category-section .category-content .category-list .category-item .category-group .category-group-item .category-item-heading {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
}

.sale-section {
  margin-top: 2rem;
}
.sale-section .sale-header {
  height: 6rem;
  padding-left: 2rem;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.sale-section .sale-header .sale-header-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 13rem;
}
.sale-section .sale-content {
  width: 120rem;
  position: relative;
}
.sale-section .sale-content:hover .sale-btn {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
}
.sale-section .sale-content .sale-btn {
  position: absolute;
  top: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.2s ease;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.sale-section .sale-content .sale-prev-btn {
  left: 0;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.sale-section .sale-content .sale-next-btn {
  right: 0;
  transform: translate(50%, -50%);
}
.sale-section .sale-content .sale-list {
  width: 120rem;
  overflow: hidden;
  display: flex;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
.sale-section .sale-content .sale-list .sale-item {
  width: 20rem;
  padding-inline: 1.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
}
.sale-section .sale-content .sale-list .sale-item .sale-banner {
  width: 17rem;
}
.sale-section .sale-content .sale-list .sale-item .sale-item-price {
  color: #ee4d2d;
  font-size: 1.8rem;
  position: relative;
  padding-left: 1.2rem;
}
.sale-section .sale-content .sale-list .sale-item .sale-item-price span {
  font-size: 1.3rem;
  text-decoration: underline;
  position: absolute;
  top: -0.2rem;
  left: 0;
}
.sale-section .sale-content .sale-list .sale-item .processbar {
  background-color: #ffbda6;
  height: 1.6rem;
  width: 15rem;
  font-size: 1.2rem;
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;
}
.sale-section .sale-content .sale-list .sale-item .processbar:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  background-color: #ee4d2d;
  z-index: 0;
}
.sale-section .sale-content .sale-list .sale-item .processbar:after {
  content: "Đang bán chạy";
  color: #ffffff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.container {
  margin-top: 12rem;
  background-color: #f5f5f5;
  min-height: 200vh;
}/*# sourceMappingURL=main.css.map */